.input img  {
    position: relative;
    width: 1200px;
    height: 350px;

}
.input {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Searh {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 215px;
    margin-bottom: 40px;

}
.Searh b {
    font-size: 40px;
    font-weight: 800;
    color:#fff;
    text-align: start;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    width: 900px;
}
.Searh p {
    font-size: 20px;
    font-weight: 400;
    color: #d6d6d6;
    font-family: "Inter", sans-serif;
    width: 470px;
    text-align: start;
    margin-bottom: 10px;
}
.input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-btn input {
    padding: 15px 20px;
    border-radius: 2px;
    border: 1px solid #4c4c4c;
    cursor: pointer;
    color: #7f7f7f;
    background-color: #333;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 360px;
    outline: none;
}
.btn-input {
    padding: 15px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0700f4;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 180px;
}
.ovall {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    margin-top: 100px;
}